/* CUSTOM FONT */
@font-face {
font-family: 'Styrene A Web';
src: url('fonts/StyreneA-Regular-Web.eot');
src: url('fonts/StyreneA-Regular-Web.eot?#iefix') format('embedded-opentype'),
url('fonts/StyreneA-Regular-Web.woff2') format('woff2'),
url('fonts/StyreneA-Regular-Web.woff') format('woff');
font-weight: 400;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: 'Styrene A Web';
src: url('fonts/StyreneA-Thin-Web.eot');
src: url('fonts/StyreneA-Thin-Web.eot?#iefix') format('embedded-opentype'),
url('fonts/StyreneA-Thin-Web.woff2') format('woff2'),
url('fonts/StyreneA-Thin-Web.woff') format('woff');
font-weight: 100;
font-style: normal;
font-stretch: normal;
}

/* DEFAULT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Styrene A Web', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
	background: 
	  url("images/hedera-circle.png") bottom center no-repeat,
	  linear-gradient(160deg, rgba(16, 16, 16, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background-color: #101010;
}

/* STRUCTURE */
.wrapper {
    width: 740px;
	text-align: center;
	margin-top: 100px; /* Adjust based on the menu height */
}

.heading {
	margin-bottom: 24px;
}

.sm-space-top {
	margin-top: 8px;
}

/* TYPOGRAPHY */
h1 {
	font-family: 'Styrene A Web';
	font-weight: 100;
	font-size: 48px;
	line-height: 60px;
	color: #F6F6F6;	
	margin-bottom: 16px;
}

h2 {
	font-size: 16px;
	line-height: normal;
	color: #5D5F67;
	text-transform: uppercase;
	margin-bottom: 8px;
}

p {
	font-size: 16px;
	line-height: 22px;
	color: #F6F6F6;
}

/* BUTTONS */
button {
  min-width: 160px;
	display: inline-block;
  padding: 8px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 48px;
  cursor: pointer;
  outline: none;
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

button:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.1);
}

#playNow,
#backToGame {
	border: none;
    background: linear-gradient(to right, #0031FF 60%, #9747FF 100%);
  	border: none;
  	transition: transform 0.3s ease, box-shadow 0.3s ease;
	margin-right: 24px;
}

#backToGame {
	margin: 0;
}

#playNow:hover,
#backToGame:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 49, 255, 0.1);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between; /* Distribute items (logo and navigation) across the menu */
    align-items: center; /* Vertically center items */
    background-color: #101010;
	border-bottom: solid 1px #383838;
    color: white;
    padding: 12px 48px;
    font-family: 'Styrene A Web', sans-serif;
    width: 100%; /* Ensure the menu spans the full width */
    position: fixed; /* Fix the menu to the top of the page */
    top: 0; /* Align it to the top */
    z-index: 1000; /* Ensure it stays above other elements */
}

header .logo {
    display: flex;
	font-size: 20px;
    height: 32px;
}

header .logo img {
    padding-right: 32px;
	border-right: solid 1px #2B2B2B;
}

header .logo span {
  margin-left: 32px;
}

/* MAIN COMPONENTS */
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.content-box {
	background-color: #F6F6F6;
    padding: 24px 32px 32px 32px;
    border-radius: 4px;
    border-bottom: solid 4px #8259EF;
	margin-bottom: 24px;
}

.content-box .typing-text {
    overflow: hidden;
    max-height: 220px;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text p {
	color: #A7A7A7;
    font-size: 18px;
	line-height: 32px;
    text-align: justify;
    letter-spacing: .75px;
    word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.typing-text p span {
    position: relative;
}

.typing-text p span.correct {
    color: #101010;
}

.typing-text p span.incorrect {
    color: #8259EF;
    border-radius: 4px;
}

.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #8259EF;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}

.result-details {
    color: #F6F6F6;
	font-size: 16px;
	line-height: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	padding: 0 0 24px 0;
	margin: 0;
	list-style: none;
}

.result-details li {
    flex: 1;
	position: relative;
    align-items: center;
	border-right: solid 1px #383838; 
	padding: 8px 0;
}

.result-details li:last-child {
  border-right: none;
}

.result-details li span {
    display: block;
	color: #8259EF;
    font-size: 36px;
    line-height: 36px;
	font-weight: 100;
	margin-bottom: 4px;
}

.result-details li span b {
	font-weight: 100;
}

::selection {
    color: #F6F6F6;
    background: #8259EF;
}


/*
<li>
          <div class="row">
            <span class="rank">#1</span>
            <span class="player">Greg</span>
          </div>
          <div class="stats">
            <div><strong>180</strong> WPM</div>
            <div><strong>2</strong> Mistakes</div>
            <div><strong>30</strong> CPM</div>
          </div>
        </li>
*/

#leaderboardList {
	padding: 24px 0;
}

#leaderboardList li {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	list-style: none;
	color: #F6F6F6;
	border-radius: 4px;
	margin-bottom: 4px;
	background-color: rgba(255, 255, 255, 0.08);
	padding: 16px 40px;
}

#leaderboardList li .row,
#leaderboardList li .stats {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 48px;
}

.rank {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.rank,
.stats strong {
	font-size: 18px;
}

.stats {
	font-size: 12px;
}

.stats strong {
	color: #8259EF;
}


/* MODAL */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #f2eded;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    margin: 10px 0;
}

#closeModal {
    background-color: #3ec878;
    color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    background-color: #34a965;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal-content ul li {
    padding: 5px 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.modal-content ul li:last-child {
    border-bottom: none;
}

.modal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.modal-content button:hover {
    background-color: #0056b3;
}


/*
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #8259ef; 
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    color: #8259ef; 
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #8259ef; 
    background: none;
    transition: transform 0.2s ease;
}
*/

/* MEDIA QUERIES */
/*
@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }
    .content-box .content {
        padding: 20px 0;
    }
    .content-box .typing-text {
        max-height: 100%;
    }
    .typing-text p {
        font-size: 19px;
        text-align: left;
    }
    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details {
        width: 100%;
    }
    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }
    .result-details li p,
    .result-details li span {
        font-size: 15px;
    }
}
*/
/*
@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }
    .typing-text p {
        font-size: 13px;
    }
    .result-details li {
        margin-bottom: 10px;
    }
    .content button {
        margin-top: 10px;
    }
}
*/