/* ========== FONTS ========== */
@font-face {
  font-family: 'Styrene A Web';
  src: url('fonts/StyreneA-Regular-Web.eot');
  src: url('fonts/StyreneA-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/StyreneA-Regular-Web.woff2') format('woff2'),
       url('fonts/StyreneA-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('fonts/StyreneA-Thin-Web.eot');
  src: url('fonts/StyreneA-Thin-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/StyreneA-Thin-Web.woff2') format('woff2'),
       url('fonts/StyreneA-Thin-Web.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/* ========== BASE ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Styrene A Web', sans-serif;
}

html {
	scroll-behavior: smooth;
 	-webkit-font-smoothing: antialiased;
}

::selection {
  color: #F6F6F6;
  background: #8259EF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 80px; /* Offset for fixed header */
  background:
    url("images/hedera-circle.png") bottom center no-repeat,
    linear-gradient(160deg, rgba(16, 16, 16, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-color: #101010;
  overflow-x: hidden;
}

/* ========== STRUCTURE ========== */
.wrapper {
  width: 740px;
  text-align: center;
  margin: 0 auto;
	padding-bottom: 24px;
}

.heading {
  margin-bottom: 24px;
}

.sm-space-top {
  margin-top: 8px;
}

#nameForm input {
  background-color: rgba(255, 255, 255, 0.08);
	border: none;
  border-bottom: 1px solid #8259EF;
  color: #FFF;
  font-size: 15px;
  width: 100%;
  padding: 16px;
  margin: 16px 0 40px 0;
	outline: none;
	box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#nameForm input:focus,
#nameForm textarea:focus,
#nameForm select:focus {
  	outline: none;
  	border-bottom: 3px solid #8259EF;
	box-shadow: none;
}

/* ========== TYPOGRAPHY ========== */
h1 {
  font-weight: 100;
  font-size: 48px;
  line-height: 60px;
  color: #F6F6F6;
  margin-bottom: 16px;
}

h2 {
  font-size: 16px;
  color: #5D5F67;
  text-transform: uppercase;
  margin-bottom: 8px;
}

p,
label {
  font-size: 16px;
  line-height: 22px;
  color: #F6F6F6;
}

/* ========== BUTTONS ========== */
button {
  min-width: 160px;
  padding: 8px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 48px;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	min-height: 34px;
}

button:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.1);
}

#playNow,
#backToGame,
#submitName {
  border: none;
  background: linear-gradient(to right, #0031FF 60%, #9747FF 100%);
  margin-right: 24px;
}

#backToGame,
#submitName {
  margin: 0;
}

#playNow:hover,
#backToGame:hover,
#submitName:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 49, 255, 0.1);
}

/* ========== HEADER ========== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  border-bottom: 1px solid #383838;
  color: white;
  padding: 12px 48px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header .logo {
  display: flex;
  font-size: 20px;
  height: 32px;
}

header .logo img {
  padding-right: 32px;
  border-right: 1px solid #2B2B2B;
}

header .logo span {
  margin-left: 32px;
}

/* ========== CONTENT BOX ========== */
.wrapper .input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.content-box {
  background-color: #F6F6F6;
  padding: 24px 32px 32px;
  border-radius: 4px;
  border-bottom: 4px solid #8259EF;
  margin-bottom: 24px;
}

.typing-text {
  overflow: hidden;
  max-height: 220px;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text p {
  color: #A7A7A7;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  letter-spacing: 0.75px;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.typing-text p span {
  position: relative;
}

.typing-text p span.correct {
  color: #101010;
}

.typing-text p span.incorrect {
  color: #EF5959;
  border-radius: 4px;
}

.typing-text p span.active::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #8259EF;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

/* ========== RESULTS ========== */
.result-details {
  color: #F6F6F6;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 24px;
  list-style: none;
}

.result-details li {
  flex: 1;
  position: relative;
  padding: 8px 0;
  border-right: 1px solid #383838;
}

.result-details li:last-child {
  border-right: none;
}

.result-details li span {
  display: block;
  color: #8259EF;
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 4px;
}

.result-details li span b {
  font-weight: 100;
}

/* ========== LEADERBOARD ========== */
#leaderboardList {
  padding: 24px 0;
}

#leaderboardList li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #F6F6F6;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 16px 40px;
  border-radius: 4px;
  margin-bottom: 4px;
}

#leaderboardList li .row,
#leaderboardList li .stats {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.rank {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.stats {
  font-size: 12px;
}

.stats strong {
  color: #8259EF;
  font-size: 18px;
}

/* ========== MODAL ========== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-header {
	background-color: rgba(0, 0, 0, 0.16);
	margin: 4px 4px 0 4px;
	padding: 16px 40px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
	color: #FFF;
	font-size: 20px;
}

.modal-content {
  background-color: #222;
  border-radius: 4px;
  text-align: center;
  width: 740px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-info {
  padding: 40px;
}

#modalRank {
	color: #8259EF;
	text-decoration: none;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
